body {
    margin: 0;
    background-color: #ffcc00;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 30vh;
}
.top {
    height: 50px;
    background-color: black;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo {
    height: 94%;
    width: 94%;
    top: 5px;
    left: 10px;
}
