body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box {
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#female {
    border-color: #ffcc00;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    box-shadow: 0px 1px 5px;
}
#female:active {
    border-color: #ff9900;
    height: 200px;
    width: 200px;
    box-shadow: 0px 1px 5px;
}
#male {
    border-color: #ffcc00;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    box-shadow: 0px 1px 5px;
}
#male:active {
    border-color: #ff9900;
    height: 200px;
    width: 200px;
    box-shadow: 0px 1px 5px;
}
img {
    height: 180px;
}
