body {
    background-color: #ffcc00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box {
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#female {
    border: 1px #ffcc22;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    box-shadow: 0px 1px 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#female:active {
    border: 1px #ff9900;
    height: 200px;
    width: 200px;
    box-shadow: 0px 1px 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#male {
    border: 1px #ffcc22;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    box-shadow: 0px 1px 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#male:active {
    border: 1px #ff9900;
    height: 200px;
    width: 200px;
    box-shadow: 0px 1px 5px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img {
    height: 150px;
}
