body {
    margin: 0;
	width: 100%;
	height: 100vh;
    background: linear-gradient(45deg, #FFDD0E, #FFDD0E, #5AE7FF, #5AE7FF);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
    }
}
img {
    height: 30vh;
}
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 25%;
}
#name {
    font-family: "Exo 2" "ExtraBold";
    font-size: 100px;
}
button {
    position: absolute;
    top: 70%;
    background-color: #FFDD0E;
    width: 700px;
    height: 150px;
    font-size: 60px;
    color: aliceblue;
    border-radius: 10px;
}