
* {
    outline: none;
}
body{
    background-color: yellow;
   margin: 0px;
    width: 100vw;
    height: 100vh;  
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.topBar {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}

.play {
    height:100px;
    width:100px;
    border-radius: 15%;
    background-color:rgb(31, 55, 88);
    padding: 13px;
    color: white;
    border: none;
    outline: none;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: center;
}

.playSkin {
    width: 70%;
    margin: 10px;
} 

.alnright {
    width: 1px;   
}

.skin{
    height:100px;
    width:100px;
    border-radius: 15%; 
    background-color:rgb(56, 100, 145);
    padding: 13px;
    color: white;
    border: none;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.play:active{   
    background-color: white;
}

.skin:active{
    background-color:white;
}

.score{
    margin-top: 3%;
    margin-left: 3%;
    font-size: 30px;
    color:gray; 
}
 .man-costume{

    position: absolute;
    top: 4px;
    left: -5px;
  
    /* visibility: hidden; */
 }
 .man-glasses{
    position: absolute;
    top: 4px;
    left: 0px;
    /* visibility: hidden; */
 }

 .man-watch{
    position: absolute;
    top: 4px;
    left: -5px;
    /* visibility: hidden;  */
 }
 .man-pants{
    top: 4px;
    left: 0px;
    position: absolute;
    top: 50%;
    /* visibility: hidden; */
    left:40.9%;
  

 }
 .man-hat{
    position: absolute;
    top:-6px;
    left: -2px;

    /* visibility: hidden; */
    

 }
 .man-shoes{
    position: absolute;
    top: 4px;
    left: -5px;


    /* visibility: hidden;  */
  

 }

 .erhun {
    
    position: relative;
 }