body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #FFDD0E, #FFDD0E, #5AE7FF, #5AE7FF);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
}
  
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
* {
    outline: none;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.topBar {
    width: 100vw;
    display: flex;
    justify-content: flex-start;
}


.play{
    height:100px;
    width:100px;
    border-radius: 15%;
    background-color:rgb(31, 55, 88);
    padding: 13px;
    color: white;
    border: none;
    outline: none;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: center;
  
}

.playSkin {
    width: 70%;
    margin: 10px;
} 

.alnright {
    width: 1px;   
}

.skin{
    height:100px;
    width:100px;
    border-radius: 15%; 
    background-color:rgb(56, 100, 145);
    padding: 13px;
    color: white;
    border: none;
    margin: 10px;
    display: flex;
    justify-content: center;
}
.play:active{   
    background-color: white;
}

.skin:active{
    background-color:white;
}

.score{
    margin-top: 3%;
    margin-left: 3%;
    font-size: 30px;
    color:gray; 
    font-family: 'Exo 2', sans-serif;

}

.erhun {
    justify-content: center;
    align-items: center;
    top: 20%;
    left: 30%;
    position: absolute;
}

.erhun img {
    justify-content: center;
    align-items: center;
    position: absolute;
}
.lds-hourglass {
    z-index: -1;
    justify-content: center;
    align-items: center;
    
    
    justify-content: center;
    align-items: center;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-hourglass:after {
    z-index: -1;
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 26px solid #fcf;
    border-color: #fcf transparent #fcf transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
  
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }