body {
    display: flex;
    margin: 0;
}
#hint_heseg {       
    height: 50px;
    background-color: black;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.buhel_body {
    min-height: 450px;
    background-color: #ffcc00;
}
#aav {
    height: 100vh;
    width: 100vw;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;
    position: fixed;
}
#question {
    background-color: white;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    margin-top: 5px;
    flex: 1;
}   
 
.ami {
    display: flex;
    flex-direction: row;
    display: flex;
    margin-top: 20px;
    margin-right: 10px;
    justify-content: flex-end;
    align-items: center;
}

.ami img {
    margin-right: 45px;
    height: 37px;
    width: 37px;
}
#too {  
    position: absolute;
    font-size: 35px;
    color: white;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}
.goy {
    border: solid 5px #ffcc00;
    padding: 10px;
    margin: 12px;
}
.box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.box img {
    height: 200px;
    width: 180px;
}
/* .option {
    height: 47px;
    width: 132px;
    border-radius: 8px;
    background-color: #C8C8C8;
    padding: 8px;
} */

 /* .box {
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: darkgoldenrod;

}  */
