
body{
   
    background-color: lightyellow; 
}
.level{
    margin-left: 10%;
    margin-top: 10%;
    display: flex;
}

.ug{
    margin-left:10%;
}

.diamondb{
width: 1vw;
height: 1vh;
margin-left: 10vh;
margin-top: 10%;


}
.goldenb{
    width: 1vw;
    height: 1vh;
    margin-left: 40%;
    margin-top: 10%;
}
.silverb{
width: 1vw; 
height: 1vh;
margin-left: 40%;
margin-top: 10%;

}